
<html>

<head>
<!--link rel="styleSheet" href="style.css" type="text/css" media="screen" /-->
<%= stylesheet_link_tag "style" %>

<title>BLOGGER BOARD </title>

<script type="text/javascript">

</script>

</head>



<body>

<div id="outer-container">
 
 <div id="container">
		
     <div id="login-form">	
	<form action="#" method="post" >	

		<div class="outer">

			Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input id="email" name="email" type="text" value=""  />
		</div>
	
		
			<br clear="all" />
		
	       <div class="outer">
			Password 
			<input id="password" name="password" type="password" value=""  />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Minimum 5 characters</em>
	      </div>
	
     	     
		<br clear="all" />
		<br clear="all" />
		
	     <input class="submit" type="button" name="submit" value="Submit Now !" id="button"  />
		
     </form>
  </div><!-- login-form ends-->

		<br clear="all" />
		<br clear="all" />
		<br clear="all" />
		<br clear="all" />

<div id="question-container">
<form action="#" method="post" >
<textarea cols=70 rows=5>



Ask your Question ??

</textarea>
  <input class="submit" type="button" name="Ask" value="Ask Now !" id="Ask"  />
</form>
</div>

<div id="recent-questions">
	<ul>
 		<li>
				<textarea cols=70 rows=5>
				
						 Question ??
		
				</textarea>
	        </li>
		<li>
				<textarea cols=70 rows=5>
				
						 Answer1 
		
				</textarea>
	        </li>
		 <li>
				<textarea cols=70 rows=5>
				
						 Answer2
		
				</textarea>
	        </li>
	</ul>
</div>

  
</div> <!--container ends-->





</div> <!-- outer-container ends-->
</body>

</html>
